/********* Config **********/
.content-container {
    max-width: 1280px;
    margin: 0 auto;
}

a {
    color: #444;
}

.full-width {
    width: 100%;
}

.button {
   background-color: #008542;
}
.button--inner-margin {
    margin-bottom: -35px;
}
.button--grey {
    color: #FFF;
    background-color: #929497;
    padding: 0.7rem 0.7rem !important;
}
.subheader--center, .text--center {
    text-align: center;
}

.text-color--white {
    color: #FFF;
}
.text--no-margin-bottom {
    margin-bottom: 0;
}
.text--bold {
    font-weight: 700;
}
.text--justified {
    text-align: justify;
    text-justify: auto;
    width: 300px;
}
.special-offers {
    background-color: #FFF;
    margin: 35px 0;
}
.special-offers__text-container {
    padding-top: 10px;
    padding-bottom: 10px;
}
.center {
    display: block;
    margin: 0 auto;
}

.section {
    padding-top: 70px;
    padding-bottom: 70px;
    margin: 0 auto;
}

.section--grey {
    background-color: #E6E7E8;
}

.section--no-top-padding {
    padding-top: 0;
}

.section--v-padding {
    padding-left: 30px;
    padding-right: 30px;
}
/********* Header **********/

header {
  background-color: #E6E7E8;
  padding-top: 1.1rem;
}
div#responsive-menu {
    padding: 0;
    padding-top: 1.5rem;
    padding-bottom: 1.8rem;
}
.dropdown.menu {
    position: relative;
    left: -1rem;
}

.top-bar {
    padding: 0;
}
.top-bar input {
    margin: 0;
}

.top-bar input::placeholder {
    color: #444;
}
.title-bar {
    float: right;
    background-color: #E6E7E8;
    color: #444;
    text-align: right;
    padding: 0;
}

.title-bar-title {
    font-weight: 500;
}
.menu-icon::after {
    background: #008542;
    box-shadow: 0 7px 0 #008542, 0 14px 0 #008542;
}
@media (max-width: 1024px) {
    .menu {
        float: right;
    } 
    .dropdown li {
        width: 100% !important;
    }
}

@media (max-width: 640px) {
    .top-bar input {
        width: 8rem;
    }
    .logo {
        width: 150px;
    }
}

/********* Hero Slider**********/
.slide-content {
    height: 500px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center bottom;
}

.slide-content-one {
    /* put different quality and cropped images in depending on display normally but lazy */
    background-image: url("https://images.unsplash.com/uploads/1412533519888a485b488/bb9f9777?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e4fb967339f62a08d4e60ced03bfdcd0&auto=format&fit=crop&w=1350&q=80k");
}

.slide-content-two {
    /* put different quality and cropped images in depending on display normally but lazy */
    background-image: url("https://images.unsplash.com/photo-1445207966278-0a0a65a2047b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=39990281a9a61e77e85752fb4ff015cd&auto=format&fit=crop&w=1350&q=80");
}

.orbit-bullets {
    position: relative;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    text-align: right;
    top: -100px;
}

.orbit-bullets button {
    border: 3px solid #E6E7E8;
    background-color: #E6E7E8;
}

.orbit-bullets button.is-active {
    background-color: #008542;
}

/********* Product Categories **********/
.slick-prev:before,
.slick-next:before {
    opacity: 1;
    color: #bbbdbf;
}

.slick-slide {
    width: 100px;
}

.product-categories {
    width: 90%;
    margin: 0 auto;
}
.product-categories__slide {
    padding: 0 10px;
}

/********* Footer **********/
.footer {
    background-color: #bbbdbf;
    color: #FFF;
    padding: 40px 0;
    /* display: flex;
    height: 100%; */
}

.get-in-touch {
    width: 274px;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.get-in-touch span:first-child {
    border-left: none;
    padding-left: 0;
}
.get-in-touch span:last-child {
    padding-right: 0;
}
.get-in-touch span {
    text-align: center;
    border-left: #444 1px solid;
    padding: 0 20px;
}

.site-map {
    margin-top: 50px;
}

@media (max-width: 1024px) {
    .section--v-padding {
        padding-left: 0;
        padding-right: 0;
    }
    .product-categories {
        margin: 0 auto;
    }
    .center {
        margin: 0;
    }
    .mobile-container {
        padding-right: 0.625rem;
        padding-left: 0.625rem;
    }
    header {
        padding: 30px 0;
    }
    .site-map {
        margin-top: 0;
    }
}
@media (max-width: 600px) {  
    .product-categories {
        width: 80%;
        margin: 0 auto;
    }
    .get-in-touch {
        width: 234px;
        text-align: center;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
}